body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
  background-image: url("images/table.png");
  background-size: cover;
  font-weight: bold;
  color: white;
  text-align: center;
  font-size: 2em;
}

h2 {
  color: goldenrod;
}

#message-el {
  font-style: italic;
}

button {
  width: 150px;
  color: #016f32;
  background: goldenrod;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  border: 1px solid goldenrod;
  border-radius: 2px;
  margin-bottom: 2px;
  margin-top: 2px;
  cursor: pointer;
}

button:focus {
  color: goldenrod;
  background: #016f32;
  border: 2px solid rgb(81, 163, 230);
}